 
<div class="v2-login-area" style="padding-top: 100px">
            <form class="form-signin" action="LoginController" method="post" name="formdn" id="formdn">
                <div class="form-signin-heading text-center">
                    <h1 class="sign-title" style="font-size: 29px; text-align: center">Vui lòng xác minh tài khoản</h1>
                    <p style="font-size: 13px; text-align: center">Email xác minh đã được gửi vào email: <a
                            href="">@ViewBag.Email</a>
                        .Vui lòng kiểm tra trong hòm thư</p>
                </div>
                <div class="v2-login-wrap">
                    <button class="btn btn-lg btn-login" type="submit" href="/Account/Login">Xác nhận</button>
                </div>
                <div class="v2-login-bottom" style="margin-left: 72px">
                    <span class="v2-center"><span class="v2-hide">Bạn chưa nhận được mã</span><a href=""
                            class="v2-register-now"> ( Gửi lại mã )</a>
                    </span>
                </div>
            </form>
        </div>