@using CollabClothing.ViewModels.System.Users
@model ForgotPasswordRequest
@{
	ViewData["Title"] = "Quên mật khẩu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
 .input-forgot {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
 }

 .btn-forgot {
  width: 100%;
  background-color: #63a98e;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 }

  .btn-forgot:hover {
   background-color: #45a049;
  }

 .forgot-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 40%;
  margin: auto;
  font-size: 15px;
  padding-top : 50px;
 }

 .title-forgot {
  margin: 50px 40%;
  font-size: 30px;
 }
 .your-email {
	 margin-bottom : 20px;
 }
</style>

<div class="forgot-container">
 <form method="post">
  <label asp-for="Email" class="your-email">Email của bạn</label>
  <input type="email" asp-for="Email" placeholder="Email" class="input-forgot">
  <div asp-validation-summary="All" class="text-danger-forgot" style="color:red; text-align : center; list-style : none;"></div>
  <div asp-validation-for="Email" class="text-danger-forgot" style="color:red;"></div>
  <input type="submit" value="Gửi yêu cầu" class="btn-forgot" required="">
 </form>
</div>