@using CollabClothing.ViewModels.System.Users
@model LoginRequest
@section Csss {
    <link rel="stylesheet" href="~/assets/css/dangnhap.css">
}
@{
    ViewData["Title"] = "Đăng nhập";
}
<style>
.auth-form_or{
    text-align: center;
    font-size: 14px;
}
.login-with-google {
    text-align: center;
    margin-top: 20px;
}
   .goolge-btn {
      padding: 12px 70px 12px 80px;
      width: 100%;
      border: 1px solid #eaeaea;
      border-radius: 3px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
      background-color: white;
      background-repeat: no-repeat;
      background-position: 12px 11px;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
      color: #757575;
      font-size: 14px;
      font-weight: 500;
      box-shadow:#f5f5f5;
    }
    .goolge-btn:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }
    .auth__register__link{
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
    }
    .v2-login-area{
       margin-bottom: 100px;
       border: 1px solid transparent;
    border-radius: 5px;

    overflow: hidden;

    }
    .v2-left a{
        text-decoration: none;
    }
</style>
<div class="v2-login-area">
    <form class="form-signin" asp-controller="Account" asp-action="Login" method="post">

        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Đăng nhập</h1>
        </div>
        <div class="v2-login-wrap">
            <input type="text" class="form-control" value="" placeholder="Tên đăng nhập/Email/Số điện thoại"
                   autofocus="" asp-for="UserName" required="">
            <input type="password" class="form-control" placeholder="Mật khẩu" id="password" asp-for="Password"
                   required="">
            <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
            <div class="text-danger warning" asp-validation-summary="All"></div>
            <button class="btn  btn-login" type="submit" style="font-size: 20px; height:40px">Đăng nhập</button>

        </div>
          <div class="">
       <span class="v2-left">
                <a class="v2-remember-password" asp-action="ForgotPassword" style="font-size:14px;"> Quên mật khẩu ?</a>
            </span>
          </div>
    </form>
    <!-- login with google -->
    <div class="auth-form_or">
            <span>-- Hoặc --</span>
    </div>
    <div class="login-with-google">
        <a asp-action="GoogleLogin" style="text-decoration : none;" class="goolge-btn">
            Đăng nhập bằng Google
        </a>
    </div>
     <div class="auth__register__link">
            <span class="">
                <span class="v2-hide">Chưa có tài khoản ?</span>
                <a href="/Account/Register" class="v2-register-now" style="text-decoration: none;"> ( Đăng ký ngay )</a>
            </span>
    </div>
</div>
@section Scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
}