.title {
    margin-bottom: 5vh;
}

.card {
    margin: auto;
    max-width: 1100px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    font-size : 15px;
}
.total-base {
    margin-top: 135px;
}
@media(max-width:767px) {
    .card {
        margin: 3vh auto;
    }
}
.main-cart {
    margin: 0;
    padding: 2vh 0;
    width: 100%;
}
.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
    margin-left: auto;
    position: relative;
    width: 395px;
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }
}

.summary .col-2 {
    padding: 0;
}

.summary .col-10 {
    padding: 0;
}

.row {
    margin: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}
.row-in {
    margin: 0;
    margin-top: 6px;
}

.title b {
    font-size: 1.5rem;
}


.col-2, .col {
    padding: 0 1vh;
}
.a-link {
    padding: 0 1vh;
}

.close {
    margin-left: 10px;
    font-size: 1.2rem;

}
.close:hover {
    cursor : pointer;
}

.img-cart {
    width: 3.5rem;
}

.back-to-shop {
    margin-top: 4.5rem;
}

h5 {
    margin-top: 4vh;
}

hr {
    margin-top: 1.25rem;
}

form-cart {
    padding: 2vh 0;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

input-cart {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

    input:focus::-webkit-input-placeholder {
        color: transparent;
    }

.btn-cart {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 1.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}

    .btn-cart:focus {
        box-shadow: none;
        outline: none;
        box-shadow: none;
        color: white;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        transition: none;
    }

    .btn-cart:hover {
        background-color: white;
        cursor : pointer;
        color : #ccc;
    }

.a-link {
    color: black;
    text-decoration : none;
}

    .a-link:hover {
        color: black;
        text-decoration: none;
    }

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

.img-fluid {
    width: 8rem;
    margin-top: 7px;
}
