.cta-btn {
    width: 8vw;
    margin-right: 6px;    
    text-align: center;
    font-size: 1em;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.65);
    background: rgba(0, 0, 0, 0.35);
    color: white;
}

    .cta-btn span {
        display: block;
    }

.old-price {
    margin-top: 10px;
    font-size: 1em;
    text-decoration: line-through;
    color: darkolivegreen;
}

.new-price {
    color: #f6eb14;
    font-size: 1.45em;
    line-height: 1.1;
}


@media screen and (max-width: 1000px) {
    .cta-btn {
        margin-right: 60px;
        margin-top: 450px;
        width: 1vw;
    }
}

@media screen and (max-width: 600px) {
    .cta-btn {
        margin-right: 35px;
        margin-top: 350px;
        width: 1vw;
        font-size: 1em;
    }
}
