@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.container{
    background-color:unset;

}
.layout {
    display: flex;
    width: 100%;
    background-color: #231b2e;
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.sidebar {
    height: 100%;
    background-color: #2a213a;
    width: 240px;
    position: relative;
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 54px;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar {
    width: 100%;
}
.navbar-menu{
    list-style:none;
    padding:0;
}

.navbar-brand {
    width: 240px;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 0 25px 0 28px;
    display: flex;
    align-items: center;
}


.navbar-menu .navbar-item div {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding: 18px 25px;
    text-decoration: none;
}

    .navbar-menu .navbar-item div:hover {
        background-color: #393243;
    }

.navbar-menu .tab-item.active {
    background-color: hsla(0, 0%, 100%, 0.1);
    color: #fff;
    border-left: 3px solid #00aeef;
}



.navbar-menu .navbar-item div span {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
}




.navbar-my-music-title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 28px 8px;
}


.mainpage {
    position: relative;
    width: calc(100% - 570px);
    min-height: 100%;
    flex-grow: 1;
}

.main-content {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.section {
    position: absolute;
    inset: 0px;
    margin-right: -6px;
    margin-bottom: 0px;
}

main.section {
    margin: 0 auto;
    padding: 0 59px;
}

.container {
    min-height: calc(100% - 158px);
    background-color:unset !important;
}


.navbar-user {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-bottom: 30px;
    margin-top: 30px;
}

.navbar-container {
    display: flex;
    align-items: center;
    min-height: 52px;
}
.layout h2{
    font-size:28px;
    margin-bottom:50px;
}

.navbar-container .navbar-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
}

        .navbar-container .navbar-menu .navbar-item {
            margin: 0 40px 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            position: relative;
        }

        .navbar-container .navbar-menu .navbar-link {
            display: block;
            padding: 15px 0;
            cursor: pointer;
        }

            .navbar-container .navbar-menu .navbar-link div {
                color: #dadada;
                font-size: 14px;
            }

                .navbar-container .navbar-menu .navbar-link div:hover {
                    color: #fff;
                    background-color: unset;
                }

.navbar-button {
    margin-bottom: 20px;
}



.navbar-button__item:not(:first-child) {
    margin-left: 16px;
}

.hide {
    display: none;
}

.tab-pane {
    display: none;
}

.tab-item.active {
    display: block;
}

.tab-pane.active {
    display: block;
}

.user-box {
    position: relative;
}

    .user-box input {
        width: 50%;
        padding: 10px 0;
        font-size: 20px;
        color: #fff;
        margin-bottom: 40px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
    }

    .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 20px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
    }

    .user-box input:focus ~ label,
    .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #03e9f4;
        font-size: 16px;
    }

h2 {
    color: #fff;
}

.profile-form button {
    background: #03e9f4;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 26px;
    border-radius: 5px;
    cursor: pointer;
    font-size:18px;
}

.profile-form {
    /* width: 60%; */
}
