@using CollabClothing.ViewModels.System.Users;
@model LoginRequest;
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <title>System Login</title>

 <!-- page css -->
 <!-- Core css -->
 <link href="~/AdminAssets/css/app.min.css" rel="stylesheet">

</head>

<body>
 <div class="app">
  <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" style="background-image: url('~/AdminAssets/images/others/login-3.png')">
   <div class="d-flex flex-column justify-content-between w-100">
	<div class="container d-flex h-100">
	 <div class="row align-items-center w-100">
	  <div class="col-md-7 col-lg-5 m-h-auto">
	   <div class="card shadow-lg">
		<div class="card-body">
		 <div class="d-flex align-items-center justify-content-between m-b-30">
		  <h2 class="m-b-0">Sign In</h2>
		 </div>
		 <form asp-action="Login" asp-controller="User" method="post">
		  <div class="form-group">
		   <label class="font-weight-semibold" for="UserName">Username:</label>
		   <div class="input-affix">
			<i class="prefix-icon anticon anticon-user"></i>
			<input type="text" class="form-control" placeholder="Username" asp-for="UserName">
		   </div>
		  </div>
		  <div class="form-group">
		   <label class="font-weight-semibold" for="Password">Password:</label>
		   <div class="input-affix m-b-10">
			<i class="prefix-icon anticon anticon-lock"></i>
			<input type="password" class="form-control" placeholder="Password" asp-for="Password">
		   </div>
		  </div>
		  <div class="form-row align-items-center">
		   <div class="col-auto">
			<div class="checkbox mb-2">
			 <input class="form-check-input" type="checkbox" id="remmemberCheck" asp-for="RememberMe">
			 <label class="form-check-label" >
			  Remember me
			 </label>
			</div>
		   </div>
		  </div>
		  <div class="form-group">
		   <div class="d-flex align-items-center justify-content-between">
			<span class="font-size-13 text-muted">
			 <a class="small" href=""> </a>
			</span>
			<button class="btn btn-primary">Sign In</button>
		   </div>
		  </div>

		 </form>
		</div>
	   </div>
	  </div>
	 </div>
	</div>
   </div>
  </div>
 </div>


 <!-- Core Vendors JS -->
 <script src="~/AdminAssets/js/vendors.min.js"></script>
 <!-- Core JS -->
 <script src="~/AdminAssets/js/app.min.js"></script>

</body>

</html>
