

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewData["Title"] - Page Admin</title>


	<!-- page css -->
	<link href="~/AdminAssets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">

	<!-- Core css -->
	<link href="~/AdminAssets/css/app.min.css" rel="stylesheet">
	@await RenderSectionAsync("Csss", required:false)

</head>
<body>
	<div class="app">
		<div class="layout">
			@await Html.PartialAsync("_HeaderPartialView");
			<!-- Side Nav START -->
			@await Html.PartialAsync("_SideNavPartialView")
			<!-- Side Nav END -->
			<!-- Page Container START -->
			<div class="page-container">

				<!-- Content Wrapper START -->
				<div class="main-content">
					@RenderBody()
				</div>
				<!-- Content Wrapper END -->
				<!-- Footer START -->
				<footer class="footer">
					<div class="footer-content">
						<p class="m-b-0">Website quản trị của CollabClothing Store</p>
						<span>
							<a href="" class="text-gray m-r-15">By Lê Trọng Khiêm</a>
							<a href="" class="text-gray">Privacy &amp; Policy</a>
						</span>
					</div>
				</footer>
				<!-- Footer END -->

			</div>
			<!-- Page Container END -->
		</div>
	</div>


	<!-- Core Vendors JS -->
	@*<script src="~/AdminAssets/js/vendors.min.js"></script>*@

	<!-- page js -->
	@*<script src="~/AdminAssets/vendors/chartjs/Chart.min.js"></script>*@
	@*<script src="~/AdminAssets/js/pages/dashboard-e-commerce.js"></script>*@

	<!-- Ajax -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<!-- Core JS -->
	
	<script src="~/js/site.js"></script>
	<script>
	 var siteController = new SiteController();
	 siteController.initialize();
 </script>
 <script src="~/AdminAssets/js/app.min.js"></script>
	@await RenderSectionAsync("Scripts", required:false)

</body>
</html>
