@using Microsoft.Extensions.Configuration
@model HomeViewModel
@{
	ViewData["Title"] = "Trang chủ";
}
@section Csss {
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
}
@inject IConfiguration Configuration;
<div class="grid wide">
 <!-- Product Phone -->
 <div class="row container__item">
  <div class="col l-12 m-12 c-12">
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	 <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
	 <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
	 <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="~/img/6BCeJyXI-1200x400-1.png" class="d-block w-100" alt="...">
						</div>
					@foreach (var item in Model.ListBanner)
					{
		 <div class="carousel-item">
		  <img src="@Configuration["BaseAddress"]@item.Images" class="d-block w-100" alt="@item.Alt">
		  <div class="carousel-caption d-none d-md-block">
		   <h5>@item.NameBanner</h5>
		   <p>@item.NameBanner</p>
		  </div>
		 </div>
					}

	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
	 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	 <span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
	 <span class="carousel-control-next-icon" aria-hidden="true"></span>
	 <span class="sr-only">Next</span>
	</a>
   </div>
  </div>
  <div class="col l-12 m-12 c-12">
   <div class="container-nav">
	<h2 class="container-nav__heading">Nữ:</h2>
	<ul class="container-nav__list">
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo thun</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo polo</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo khoác</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo kiểu</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Đồ công sở</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Đầm & Váy</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Quần dài</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Quần short</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Đồ lót</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Đồng hồ</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Mắt kính</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Trang sức</a>
	 </li>
	</ul>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-filter">
	<div class="container-filter__item">
	 Giá từ cao đến thấp
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Giá từ cao đến thấp
	  </li>
	  <li class="container-filter__list-item">
	   Giá từ thấp đến cao
	  </li>
	 </ul>
	</div>

	<div class="container-filter__item">
	 Bán chạy
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Bán chạy
	  </li>
	  <li class="container-filter__list-item">
	   Phổ biến
	  </li>
	  <li class="container-filter__list-item">
	   Khuyến mãi
	  </li>
	  <li class="container-filter__list-item">
	   Hàng mới về
	  </li>
	 </ul>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-product">
	<div class="row no-gutters phone-products">
	 <!-- Thêm từng điện thoại vào -->
	 <div class="col l-2-4 l-3-m m-4 c-6">
	  <div class="container-product__item">
	   <div class="container-product__item-heading">
		<div class="container-product__item-img"
									 style="background-image: url(./assets/img/611211883945921444708532552950181607768064o-2416.jpg);">
		</div>

		<div class="container-product-guarantee">
		 <a href='#' class="container-product__item-link">
		  <div class="container-product-guarantee__heading">
		   <img src="https://mobilecity.vn/public/assets/img/icon-mobilecity-care.png"
												 alt="Guarantee"
												 class="container-product-guarantee__heading-img">
		   <h3 class="container-product-guarantee__heading-text">
			CollabClothing
		   </h3>
		  </div>

		  <ul class="container-product-guarantee__list">
		   <li class="container-product-guarantee__item">
			Hỗ trợ đổi trả trong
			vòng 7 ngày
		   </li>
		   <li class="container-product-guarantee__item">
			Cam kết hàng chính
			hãng
		   </li>
		   <li class="container-product-guarantee__item">
			Tặng Voncher cho các
			lần mua sau
		   </li>
		   <li class="container-product-guarantee__item">
			Hoàn tiền nếu phát
			hiện hàng giả
		   </li>
		  </ul>
		 </a>
		 <a href='#' class="container-product-guarantee__btn">Bảo hành vàng</a>
		</div>
	   </div>
	   <div class="container-product__item-wrap">
		<div class="container-product__item-info">
		 <a href="#" class="container-product__item-name">
		  Áo thun Champion Trắng
		 </a>
		 <i class="container-product__item-sale-icon fas fa-gift"></i>
		</div>
		<div class="container-product__item-buy">
		 <span class="container-product__item-price">
		  320.000 đ
		 </span>
		 <a href='#' class="container-product__item-btn">MUA</a>
		</div>
	   </div>
	   <ul class="container-product__item-gifts-list">
		<li class="container-product__item-gift">
		 1. Cam kết:
		 <span class="container-product__item-gift--highlight">
		  Hàng chính hãng
		 </span>
		 khi mua BHV
		</li>
		<li class="container-product__item-gift">
		 2. Voncher:
		 <span class="container-product__item-gift--highlight">
		  Lên tới 100k
		 </span>
		</li>
	   </ul>
	   <ul class="container-product-marker__list ${markers}">
		<li class="container-product-marker__item container-product-marker__item--new">
		 Mới
		</li>
		<li class="container-product-marker__item container-product-marker__item--hot">
		 Hot
		</li>
	   </ul>
	  </div>
	 </div>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-view-more">
	<a href="#" class="container-btn-extend">Xem thêm sản phẩm</a>
   </div>
  </div>
 </div>

 <!-- Product Tool -->
 <div class="row container__item">
  <div class="col l-12 m-12 c-12">
   <div class="banner">
	<div class="row">
	 <div class="col l-6 m-6 c-0">
	  <a href="#" class="banner__link">
	   <img src="https://cdn.mobilecity.vn/mobilecity-vn/images/2020/08/airpod-2-2.jpg"
								 alt="Banner 1" class="banner__img">
	  </a>
	 </div>
	 <div class="col l-6 m-6 c-0">
	  <a href="#" class="banner__link">
	   <img src="https://cdn.mobilecity.vn/mobilecity-vn/images/2019/11/untitled-1.jpg"
								 alt="Banner 2" class="banner__img">
	  </a>
	 </div>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-nav">
	<h2 class="container-nav__heading">Phụ kiện Nam:</h2>
	<ul class="container-nav__list">
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo thun</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo polo</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo khoác</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo sơ mi</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Đồ công sở</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Quần dài</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Quần short</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Đồ lót</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Đồng hồ</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Mắt kính</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Trang sức</a>
	 </li>
	</ul>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-filter">
	<div class="container-filter__item">
	 Giá từ cao đến thấp
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Giá từ cao đến thấp
	  </li>
	  <li class="container-filter__list-item">
	   Giá từ thấp đến cao
	  </li>
	 </ul>
	</div>

	<div class="container-filter__item">
	 Bán chạy
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Bán chạy
	  </li>
	  <li class="container-filter__list-item">
	   Phổ biến
	  </li>
	  <li class="container-filter__list-item">
	   Khuyến mãi
	  </li>
	  <li class="container-filter__list-item">
	   Hàng mới về
	  </li>
	 </ul>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-product">
	<div class="row no-gutters tool-products">
	 <!-- Thêm phụ kiện -->
	 <div class="col l-2-4 l-3-m m-4 c-6">
	  <div class="container-product__item">
	   <div class="container-product__item-heading">
		<div class="container-product__item-img"
									 style="background-image: url(./assets/img/611211883945921444708532552950181607768064o-2416.jpg);">
		</div>

		<div class="container-product-guarantee">
		 <a href='#' class="container-product__item-link">
		  <div class="container-product-guarantee__heading">
		   <img src="https://mobilecity.vn/public/assets/img/icon-mobilecity-care.png"
												 alt="Guarantee"
												 class="container-product-guarantee__heading-img">
		   <h3 class="container-product-guarantee__heading-text">
			CollabClothing
		   </h3>
		  </div>

		  <ul class="container-product-guarantee__list">
		   <li class="container-product-guarantee__item">
			Hỗ trợ đổi trả trong
			vòng 7 ngày
		   </li>
		   <li class="container-product-guarantee__item">
			Cam kết hàng chính
			hãng
		   </li>
		   <li class="container-product-guarantee__item">
			Tặng Voncher cho các
			lần mua sau
		   </li>
		   <li class="container-product-guarantee__item">
			Hoàn tiền nếu phát
			hiện hàng giả
		   </li>
		  </ul>
		 </a>
		 <a href='#' class="container-product-guarantee__btn">Bảo hành vàng</a>
		</div>
	   </div>
	   <div class="container-product__item-wrap">
		<div class="container-product__item-info">
		 <a href="#" class="container-product__item-name">
		  Áo thun Champion Trắng
		 </a>
		 <i class="container-product__item-sale-icon fas fa-gift"></i>
		</div>
		<div class="container-product__item-buy">
		 <span class="container-product__item-price">
		  320.000 đ
		 </span>
		 <a href='#' class="container-product__item-btn">MUA</a>
		</div>
	   </div>
	   <ul class="container-product__item-gifts-list">
		<li class="container-product__item-gift">
		 1. Cam kết:
		 <span class="container-product__item-gift--highlight">
		  Hàng chính hãng
		 </span>
		 khi mua BHV
		</li>
		<li class="container-product__item-gift">
		 2. Voncher:
		 <span class="container-product__item-gift--highlight">
		  Lên tới 100k
		 </span>
		</li>
	   </ul>
	   <ul class="container-product-marker__list ${markers}">
		<li class="container-product-marker__item container-product-marker__item--new">
		 Mới
		</li>
		<li class="container-product-marker__item container-product-marker__item--hot">
		 Hot
		</li>
	   </ul>
	  </div>
	 </div>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-view-more">
	<a href="#" class="container-btn-extend">Xem thêm phụ kiện</a>
   </div>
  </div>
 </div>

 <!-- Product Fix -->
 <div class="row container__item">
  <div class="col l-12 m-12 c-12">
   <div class="banner">
	<div class="row">
	 <div class="col l-6 m-6 c-0">
	  <a href="#" class="banner__link">
	   <img src="https://cdn.mobilecity.vn/mobilecity-vn/images/2020/08/airpods-pro-rep.jpg"
								 alt="Banner 1" class="banner__img">
	  </a>
	 </div>
	 <div class="col l-6 m-6 c-0">
	  <a href="#" class="banner__link">
	   <img src="https://cdn.mobilecity.vn/mobilecity-vn/images/2020/08/airpod-2-3.jpg"
								 alt="Banner 2" class="banner__img">
	  </a>
	 </div>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-nav">
	<h2 class="container-nav__heading">Phụ kiện trẻ em:</h2>
	<ul class="container-nav__list">
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo bé gái</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Quần bé gái</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Đầm bé gái</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Áo bé trai</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Quần bé trai</a>
	 </li>
	 <li class="container-nav__item">
	  <a href="#" class="container-nav__item-link">Đồng hồ</a>
	 </li>
	</ul>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-filter">
	<div class="container-filter__item">
	 Giá từ cao đến thấp
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Giá từ cao đến thấp
	  </li>
	  <li class="container-filter__list-item">
	   Giá từ thấp đến cao
	  </li>
	 </ul>
	</div>

	<div class="container-filter__item">
	 Bán chạy
	 <i class="container-filter__icon-down fas fa-chevron-down"></i>
	 <ul class="container-filter__list">
	  <li class="container-filter__list-item">
	   Bán chạy
	  </li>
	  <li class="container-filter__list-item">
	   Phổ biến
	  </li>
	  <li class="container-filter__list-item">
	   Khuyến mãi
	  </li>
	  <li class="container-filter__list-item">
	   Hàng mới về
	  </li>
	 </ul>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-product">
	<div class="row no-gutters fix-products">
	 <!-- Thêm sản phẩm -->
	 <div class="col l-2-4 l-3-m m-4 c-6">
	  <div class="container-product__item">
	   <div class="container-product__item-heading">
		<div class="container-product__item-img"
									 style="background-image: url(./assets/img/611211883945921444708532552950181607768064o-2416.jpg);">
		</div>

		<div class="container-product-guarantee">
		 <a href='#' class="container-product__item-link">
		  <div class="container-product-guarantee__heading">
		   <img src="https://mobilecity.vn/public/assets/img/icon-mobilecity-care.png"
												 alt="Guarantee"
												 class="container-product-guarantee__heading-img">
		   <h3 class="container-product-guarantee__heading-text">
			CollabClothing
		   </h3>
		  </div>

		  <ul class="container-product-guarantee__list">
		   <li class="container-product-guarantee__item">
			Hỗ trợ đổi trả trong
			vòng 7 ngày
		   </li>
		   <li class="container-product-guarantee__item">
			Cam kết hàng chính
			hãng
		   </li>
		   <li class="container-product-guarantee__item">
			Tặng Voncher cho các
			lần mua sau
		   </li>
		   <li class="container-product-guarantee__item">
			Hoàn tiền nếu phát
			hiện hàng giả
		   </li>
		  </ul>
		 </a>
		 <a href='#' class="container-product-guarantee__btn">Bảo hành vàng</a>
		</div>
	   </div>
	   <div class="container-product__item-wrap">
		<div class="container-product__item-info">
		 <a href="#" class="container-product__item-name">
		  Áo thun Champion Trắng
		 </a>
		 <i class="container-product__item-sale-icon fas fa-gift"></i>
		</div>
		<div class="container-product__item-buy">
		 <span class="container-product__item-price">
		  320.000 đ
		 </span>
		 <a href='#' class="container-product__item-btn">MUA</a>
		</div>
	   </div>
	   <ul class="container-product__item-gifts-list">
		<li class="container-product__item-gift">
		 1. Cam kết:
		 <span class="container-product__item-gift--highlight">
		  Hàng chính hãng
		 </span>
		 khi mua BHV
		</li>
		<li class="container-product__item-gift">
		 2. Voncher:
		 <span class="container-product__item-gift--highlight">
		  Lên tới 100k
		 </span>
		</li>
	   </ul>
	   <ul class="container-product-marker__list ${markers}">
		<li class="container-product-marker__item container-product-marker__item--new">
		 Mới
		</li>
		<li class="container-product-marker__item container-product-marker__item--hot">
		 Hot
		</li>
	   </ul>
	  </div>
	 </div>
	</div>
   </div>
  </div>

  <div class="col l-12 m-12 c-12">
   <div class="container-view-more">
	<a href="#" class="container-btn-extend">Xem thêm dịch vụ sửa chữa</a>
   </div>
  </div>
 </div>
</div>

@section Scripts {
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

}