<form asp-controller="Product" asp-action="Category" method="get">
	<div class="col l-12 m-12 c-12">
		<div class="container-filter">
			<div class="container-filter__item">
				Giá từ
				<i class="container-filter__icon-down fas fa-chevron-down"></i>

				<ul class="container-filter__list">
					<li class="container-filter__list-item">
						Giá từ cao đến thấp
						<input type="submit" value="asc"/>
					</li>
					<li class="container-filter__list-item">
						Giá từ thấp đến cao
					</li>
				</ul>
			</div>

			<div class="container-filter__item">
				Bán chạy
				<i class="container-filter__icon-down fas fa-chevron-down"></i>
				<ul class="container-filter__list">
					<li class="container-filter__list-item">
						Bán chạy
					</li>
					<li class="container-filter__list-item">
						Phổ biến
					</li>
					<li class="container-filter__list-item">
						Khuyến mãi
					</li>
					<li class="container-filter__list-item">
						Hàng mới về
					</li>
				</ul>
			</div>
		</div>
	</div>
</form>