	<header class="header">
			<div class="grid wide">
				<div class="header__container">
					<div class="header__logo">
						<div class="header__logo-link">
							<a href="" class="header__logo-img"></a>
						</div>
					</div>
					@await Component.InvokeAsync("NavBar");
					<form action="" class="header-search">
						<input type="text" class="header-search__input" placeholder="Tìm kiếm">
						<button type="submit" class="header-search__button">
							<i class="header-search__icon"></i>
						</button>
					</form>
					<div class="header__cart">
						<a href="" class="header__cart-link">
							<i class="header__cart-icon"></i>
							<span class="header__cart-count">0</span>
						</a>
					</div>
				</div>
			</div>
		</header>
		<label class="header-mobile-nav__overlay"></label>

		<nav class="header-mobile-nav">
			<div class="header-mobile-nav__heading">
				<a href="./index.html" class="header-mobile-nav__heading-link">
					<div class="header-mobile-nav__logo"></div>
				</a>
				<i class="header-mobile-nav__close fas fa-times"></i>
			</div>

			<ul class="header-mobile-nav__list">
				<!-- Mobile -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Nữ
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 8;">
						<li class="header-mobile-sub-nav__item">
							<a href="./mobile.html" class="header-mobile-sub-nav__item-link">Apple</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Samsung</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">OnePlus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Xiaomi</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Oppo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vivo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">ZTE (Nubia)</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Asus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Nokia</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">LG</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Google</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vsmart</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meizu</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Sony</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">BlackBerry</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Lenovo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Bkav</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Huawei</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Smartisan</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meiigo</a>
						</li>
					</ul>
				</li>

				<!-- Tablet -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Nam
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 2;">
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Apple</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Samsung</a>
						</li>
					</ul>
				</li>

				<!-- Tool -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Trẻ em
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 8;">
						<li class="header-mobile-sub-nav__item">
							<a href="./mobile.html" class="header-mobile-sub-nav__item-link">Apple</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Samsung</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">OnePlus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Xiaomi</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Oppo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vivo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">ZTE (Nubia)</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Asus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Nokia</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">LG</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Google</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vsmart</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meizu</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Sony</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">BlackBerry</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Lenovo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Bkav</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Huawei</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Smartisan</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meiigo</a>
						</li>
					</ul>
				</li>

				<!-- Fix -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Mắt kính - Đồng hồ
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 8;">
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">iPhone</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Samsung</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Xiaomi</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Oppo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Realme</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Honor</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">iPad</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Sony</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">HTC</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">LG</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Asus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">BlackBerry</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meizu</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vivo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Mobiistar</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Huawei</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Sim ghép iPhone</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Hãng khác</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Linh kiện điện thoại</a>
						</li>
					</ul>
				</li>

				<!-- Unlock -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Trang sức
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 4;">
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock iPhone</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock Samsung</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock LG</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock Sony</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock HTC</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock Huawei</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock iPad</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock Xiaomi</a>
						</li>
					</ul>
				</li>

				<!-- News -->
				<li class="header-mobile-nav__item">
					<a href="#" class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Phụ kiện
					</a>
				</li>

				<li class="header-mobile-nav__item pd-none" style="--num-row: 2;">
					<a href="#" class="header-mobile-nav__item-link">Liên hệ</a>
				</li>
				<li class="header-mobile-nav__item pd-none">
					<a href="#" class="header-mobile-nav__item-link">Diễn đàn</a>
				</li>
				<li class="header-mobile-nav__item pd-none">
					<a href="#" class="header-mobile-nav__item-link">Tra cứu bảo hành</a>
				</li>
				<li class="header-mobile-nav__item pd-none">
					<a href="#" class="header-mobile-nav__item-link">Đăng nhập</a>
				</li>
				<li class="header-mobile-nav__item pd-none">
					<a href="#" class="header-mobile-nav__item-link">Đăng xuất</a>
				</li>
			</ul>
		</nav>