	<header class="header">
			<div class="grid wide">
				<div class="header__container">
					<div class="header__logo">
						<div class="header__logo-link">
							<a href="" class="header__logo-img"></a>
						</div>
					</div>
					<div class="header__navbar">
						<ul class="header__navbar-list">
							<li class="header__navbar-item active">
								<a href="" class="header__navbar-link">Nữ</a>
								<div class="header-sub">
									<div class="header-sub-menu">
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/aothunnu-150x150.png"
													 alt="Áo thun" width="70" height="70">
												<span>Áo thun</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/aopolonu-150x150.png"
													 alt="Áo polo" width="70" height="70">
												<span>Áo polo</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/aokhoacnu-150x150.png"
													 alt="Áo khoác" width="70" height="70">
												<span>Áo Khoác</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/iconcroptop1-150x150.png"
													 alt="Áo kiểu" width="70" height="70">
												<span>Áo kiểu</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/congsonu-150x150.png"
													 alt="Đồ công sở" width="70" height="70">
												<span>Đồ công sở</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/damvaynu-150x150.png"
													 alt="Đầm &amp; Váy" width="70" height="70">
												<span>Đầm & Váy</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/quanjeannu-150x150.png"
													 alt="Quần dài" width="70" height="70">
												<span>Quần dài</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/quanshortnu-150x150.png"
													 alt="Quần short" width="70" height="70">
												<span>Quần short</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/Untitled-1-150x150-6.png"
													 alt="Đồ lót" width="70" height="70">
												<span>Đồ lót</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/donghonu-150x150.png"
													 alt="Đồng hồ" width="70" height="70">
												<span>Đồng hồ</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/matkinhnu-150x150.png"
													 alt="Mắt kính" width="70" height="70">
												<span>Mắt kính</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/trangsucnu-150x150.png"
													 alt="Trang sức" width="70" height="70">
												<span>Trang sức</span>
											</div>
										</a>


									</div>
								</div>
							</li>
							<li class="header__navbar-item">
								<a href="" class="header__navbar-link">Nam</a>
								<div class="header-sub">
									<div class="header-sub-menu">
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/aothunnam-150x150.png"
													 alt="Áo thun" width="70" height="70">
												<span>Áo thun</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/aopolonam-150x150.png"
													 alt="Áo polo" width="70" height="70">
												<span>Áo polo</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/aokhoacnam-150x150.png"
													 alt="Áo khoác" width="70" height="70">
												<span>Áo Khoác</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/aosominam-150x150-1.png"
													 alt="Áo kiểu" width="70" height="70">
												<span>Áo sơ mi</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/congsonam-150x150.png"
													 alt="Đồ công sở" width="70" height="70">
												<span>Đồ công sở</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/quanjeannam-150x150.png"
													 alt="Quần dài" width="70" height="70">
												<span>Quần dài</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/quanshortnam-150x150.png"
													 alt="Quần short" width="70" height="70">
												<span>Quần short</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/icondolotnam-150x150-2.png"
													 alt="Đồ lót" width="70" height="70">
												<span>Đồ lót</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/donghonam-150x150.png"
													 alt="Đồng hồ" width="70" height="70">
												<span>Đồng hồ</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/matkinhnam-150x150.png"
													 alt="Mắt kính" width="70" height="70">
												<span>Mắt kính</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/trangsucnam-150x150.png"
													 alt="Trang sức" width="70" height="70">
												<span>Trang sức</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/phukiennam-150x150.png"
													 alt="Trang sức" width="70" height="70">
												<span>Phụ kiện</span>
											</div>
										</a>


									</div>
								</div>
							</li>
							<li class="header__navbar-item">
								<a href="" class="header__navbar-link" style="padding: 22px 20px 23px;">Trẻ em</a>
								<div class="header-sub">
									<div class="header-sub-menu">
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
																																																				 src="https://cdn.tgdd.vn//content/aobegai-150x150-1.png"
													 alt="Áo thun" width="70" height="70">
												<span>Áo bé gái</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/quanbegai-150x150-1.png"
													 alt="Áo polo" width="70" height="70">
												<span>Quần bé gái</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/dambegai-150x150-1.png"
													 alt="Áo khoác" width="70" height="70">
												<span>Đầm bé gái</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/aobetrai-150x150-1.png"
													 alt="Áo thun" width="70" height="70">
												<span>Áo bé trai</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded" src="https://cdn.tgdd.vn//content/quanbetrai-150x150-3.png
														" alt="Áo polo" width="70" height="70">
												<span>Quần bé trai</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="	https://cdn.tgdd.vn//content/donghotreem-150x150.png"
													 alt="Áo khoác" width="70" height="70">
												<span>Dồng hồ</span>
											</div>
										</a>

									</div>
							</li>
							<li class="header__navbar-item">
								<a href="" class="header__navbar-link">Mắt kính - đòng hồ</a>
								<div class="header-sub">
									<div class="header-sub-menu">
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/donghonam-150x150-1.png"
													 alt="Áo thun" width="70" height="70">
												<span>Đồng hồ nam</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/donghonu-150x150-1.png"
													 alt="Áo polo" width="70" height="70">
												<span>Đồng hồ nữ</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/donghotreem-150x150-1.png"
													 alt="Áo khoác" width="70" height="70">
												<span>Đồng hồ trẻ em</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/matkinhnam-150x150-1.png"
													 alt="Áo thun" width="70" height="70">
												<span>Mắt kính nam</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded" src="https://cdn.tgdd.vn//content/matkinhnu-150x150-1.png
														" alt="Áo polo" width="70" height="70">
												<span>Mắt kính nữ</span>
											</div>
										</a>


									</div>
							</li>
							<li class="header__navbar-item">
								<a href="" class="header__navbar-link">Trang sức</a>
								<div class="header-sub">
									<div class="header-sub-menu">
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/nhan1-150x150-3.png" alt="Áo thun"
													 width="70" height="70">
												<span>Nhẫn</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/bongtai-150x150-2.png"
													 alt="Áo polo" width="70" height="70">
												<span>Bông tai</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/daychuyen1-150x150-2.png"
													 alt="Áo khoác" width="70" height="70">
												<span>Dây chuyền</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/vong-150x150-1.png" alt="Áo thun"
													 width="70" height="70">
												<span>Vòng tay</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/lac-150x150-1.png" alt="Áo polo"
													 width="70" height="70">
												<span>Lắc</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="	https://cdn.tgdd.vn//content/charm-150x150-2.png"
													 alt="Áo khoác" width="70" height="70">
												<span>Vòng charm</span>
											</div>
										</a>

									</div>
								</div>

							</li>
							<li class="header__navbar-item">
								<a href="" class="header__navbar-link">Phụ kiện</a>
								<div class="header-sub">
									<div class="header-sub-menu">
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/khautrang-150x150.png"
													 alt="Áo thun" width="70" height="70">
												<span>Khẩu trang</span>
											</div>
										</a>
										<a href="" class="header-sub-item">
											<div class="header-sub-img-menu">
												<img class="img-menu__thumb ls-is-cached lazyloaded"
													 src="https://cdn.tgdd.vn//content/vo-150x150.png" alt="Áo polo"
													 width="70" height="70">
												<span>Vớ</span>
											</div>
										</a>


									</div>
								</div>
							</li>
							<li class="header__navbar-item">
								<a href="" class="header__navbar-link">Xả hàng</a>
							</li>
						</ul>
					</div>
					<form action="" class="header-search">
						<input type="text" class="header-search__input" placeholder="Tìm kiếm">
						<button type="submit" class="header-search__button">
							<i class="header-search__icon"></i>
						</button>
					</form>
					<div class="header__cart">
						<a href="" class="header__cart-link">
							<i class="header__cart-icon"></i>
							<span class="header__cart-count">0</span>
						</a>
					</div>
				</div>
			</div>
		</header>
		<label class="header-mobile-nav__overlay"></label>

		<nav class="header-mobile-nav">
			<div class="header-mobile-nav__heading">
				<a href="./index.html" class="header-mobile-nav__heading-link">
					<div class="header-mobile-nav__logo"></div>
				</a>
				<i class="header-mobile-nav__close fas fa-times"></i>
			</div>

			<ul class="header-mobile-nav__list">
				<!-- Mobile -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Nữ
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 8;">
						<li class="header-mobile-sub-nav__item">
							<a href="./mobile.html" class="header-mobile-sub-nav__item-link">Apple</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Samsung</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">OnePlus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Xiaomi</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Oppo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vivo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">ZTE (Nubia)</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Asus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Nokia</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">LG</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Google</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vsmart</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meizu</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Sony</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">BlackBerry</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Lenovo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Bkav</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Huawei</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Smartisan</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meiigo</a>
						</li>
					</ul>
				</li>

				<!-- Tablet -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Nam
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 2;">
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Apple</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Samsung</a>
						</li>
					</ul>
				</li>

				<!-- Tool -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Trẻ em
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 8;">
						<li class="header-mobile-sub-nav__item">
							<a href="./mobile.html" class="header-mobile-sub-nav__item-link">Apple</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Samsung</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">OnePlus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Xiaomi</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Oppo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vivo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">ZTE (Nubia)</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Asus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Nokia</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">LG</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Google</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vsmart</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meizu</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Sony</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">BlackBerry</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Lenovo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Bkav</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Huawei</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Smartisan</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meiigo</a>
						</li>
					</ul>
				</li>

				<!-- Fix -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Mắt kính - Đồng hồ
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 8;">
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">iPhone</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Samsung</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Xiaomi</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Oppo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Realme</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Honor</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">iPad</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Sony</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">HTC</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">LG</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Asus</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">BlackBerry</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Meizu</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Vivo</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Mobiistar</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Huawei</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Sim ghép iPhone</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Hãng khác</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Linh kiện điện thoại</a>
						</li>
					</ul>
				</li>

				<!-- Unlock -->
				<li class="header-mobile-nav__item">
					<label class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Trang sức
					</label>

					<ul class="header-mobile-sub-nav__list" style="--num-row: 4;">
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock iPhone</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock Samsung</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock LG</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock Sony</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock HTC</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock Huawei</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock iPad</a>
						</li>
						<li class="header-mobile-sub-nav__item">
							<a href="#" class="header-mobile-sub-nav__item-link">Unlock Xiaomi</a>
						</li>
					</ul>
				</li>

				<!-- News -->
				<li class="header-mobile-nav__item">
					<a href="#" class="header-mobile-nav__item-select">
						<i class="header-mobile-nav__icon-open fas fa-chevron-right"></i>
						Phụ kiện
					</a>
				</li>

				<li class="header-mobile-nav__item pd-none" style="--num-row: 2;">
					<a href="#" class="header-mobile-nav__item-link">Liên hệ</a>
				</li>
				<li class="header-mobile-nav__item pd-none">
					<a href="#" class="header-mobile-nav__item-link">Diễn đàn</a>
				</li>
				<li class="header-mobile-nav__item pd-none">
					<a href="#" class="header-mobile-nav__item-link">Tra cứu bảo hành</a>
				</li>
				<li class="header-mobile-nav__item pd-none">
					<a href="#" class="header-mobile-nav__item-link">Đăng nhập</a>
				</li>
				<li class="header-mobile-nav__item pd-none">
					<a href="#" class="header-mobile-nav__item-link">Đăng xuất</a>
				</li>
			</ul>
		</nav>