	<header class="header">
			<div class="grid wide">
				<div class="header__container">
					<div class="header__logo">
						<div class="header__logo-link">
							<a href="/trang-chu" class="header__logo-img"></a>
						</div>
					</div>
					@await Component.InvokeAsync("NavBar");
					<form action="" class="header-search">
						<input type="text" class="header-search__input" placeholder="Tìm kiếm">
						<button type="submit" class="header-search__button">
							<i class="header-search__icon"></i>
						</button>
					</form>
					<div class="header__cart">
						<a href="" class="header__cart-link">
							<i class="header__cart-icon"></i>
							<span class="header__cart-count">0</span>
						</a>
					</div>
				</div>
			</div>
		</header>
		<label class="header-mobile-nav__overlay"></label>