@model IEnumerable<CollabClothing.ViewModels.Catalog.Statistic.BenefitViewModel>

@{
    ViewData["Title"] = "Thống kê doanh thu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Thống kê doanh thu</h1>

<div class="row">
    <div class="col-md-12">
        <select id="select-day-from" class="form-control" style="width : 200px;">
            <option value="2022/07/01">2022/07</option>
            <option value="2022/08/01">2022/08</option>
            <option value="2022/09/01">2022/09</option>
            <option value="2022/10/01">2022/10</option>
            <option value="2022/11/01">2022/11</option>
            <option value="2022/12/01">2022/12</option>
            <option value="2023/01/01">2023/01</option>
            <option value="2023/02/01">2023/02</option>
            <option value="2023/03/01">2023/03</option>
            <option value="2023/04/01">2023/04</option>
        </select>
        <a href="#" class="btn-submit-day" />Submit</a>
        <div>
            @*<canvas id="chartStatistic"></canvas>*@
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="~/js/chartsjs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script>
        function registerChart(lsData) {
            const arr = []
            const total2 = []
            let categoryname = lsData.map((item) => {

                arr.push(item.nameCategory)
            })
            let total1 = lsData.map((item) => {

                total2.push(item.tongcong)
            })
            console.log(arr)
            let total = lsData.map((item) => item.tongcong);
            console.log(total)
            var xValues = arr;
            console.log(xValues)
            var yValues = total2;
            var barColors = [
                "#b91d47",
                "#00aba9",
                "#2b5797",
                "#e8c3b9",
                "#1e7145"
            ];

            new Chart("myChart", {
                type: "pie",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "World Wide Wine Production 2018"
                    }
                }
            });
        }
        $(document).ready(function () {
            $('body').on('click', '.btn-submit-day', function (e) {
                e.preventDefault();
                const selectdayfrom = $('#select-day-from').val();
                $.ajax({
                    type: "GET",
                    url: '/Statistic/GetAll/',
                    success: function (response) {
                        registerChart(response)
                        console.log(response)
                    },
                    data: {
                        fromDate: selectdayfrom,
                    },
                });
            })
        })
    </script>
}